/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.friend-icon{
  width: 30px;
  margin-left: 20px;
}

.flex{
  display: flex;
}

.request-sent{
  color: orangered;
  margin-left: 20px;
}

.accept{
  background-color:#008CBA;
  border-style: solid;
  border-radius: 20px;
  border-width: 5px;
  font-size: 13px;
  border-color: orangered;
  display: inline-flex;
  align-items: center;
  cursor: pointer;  
  margin-left: 10px;
}
.accept:hover{
  background-color: orangered;
}
.reject{
  background-color:green;
  border-style: solid;
  border-radius: 20px;
  border-width: 5px;
  font-size: 13px;
  border-color: orangered;
  display: inline-flex;
  align-items: center;
  cursor: pointer;  
  margin-left: 10px;
}
.reject:hover{
  background-color: orangered;
}
.link{
  font-size: 20px;
  color: red;
  width: 33%;
}
.mutual{
  display: inline-flex;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  width: 33%;
}
.name-tag{
  width: 30%;
}